<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>App book Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5 ">
    {% if data %}
    {% for book in data %}
    <div class="card book shadow-lg mb-5 bg-white rounded">
        <div class="row">
            <div class="book__thumb col-md-3">
                <img src={{book['thumbnailUrl']}} class="card-img-top" alt={{ data.title }}>
                <div class="text-center">
                    <a class="btn btn-primary my-3 mx-auto" href="/books/json/{{book['title']}}"
                       role="button">Découvrir</a>
                </div>
            </div>
            <div class="book__details col-md-7 p-5">
                <h1 class="book__title card-title">{{ book['title'] }}</h1>
                <div class="border-top my-3"></div>
                <div class="book__infos card-body p-0">
                    <p class="book__isbn m-0 p-0"><span class="font-weight-bold">N° ISBN :</span> {{ book['isbn'] }}
                    </p>
                    <p class="book__pagecount m-0 p-0"><span class="font-weight-bold">Nombre de pages : </span>{{
                        book['pageCount'] }}</p>
                    <p class="book__published m-0 p-0"><span class="font-weight-bold">Date de publication :</span>{{
                        book['publishedDate'] }}</p>
                </div>
                <div class="border-top my-3"></div>
                <div class="book__detail card-text">
                    <p class="book__desc">
                        <span class="font-weight-bold d-block">Résumé : </span>
                        {{ book['shortDescription'] }}</p>
                    <div class="border-top my-3"></div>
                    <p class="book__desc m-0 p-0">
                        <span class="font-weight-bold">Auteur(s) :</span>
                    </p>
                    <ul class="book__authors list-inline list-unstyled">
                        {% for author in book['authors'] %}
                        <li class="list-inline-item">{{ author }}</li>
                        {% endfor %}
                    </ul>
                    <p class="book__desc m-0 p-0">
                        <span class="font-weight-bold">Catégorie(s) :</span>
                    </p>
                    <ul class="book__categorie list-inline list-unstyled">
                        {% for category in book['categories'] %}
                        <li>{{ category }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>Error - No data found!</h1>
    {% endif %}
</div>
</body>
</html>
